.focused {
  background: rgba(72, 52, 212, 0.15);
  color: rgba(72, 52, 212, 0.8);
  font-weight: bold;
}
.not-focused {
  color: black;
}
.link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 12px;
  font: "PT Sans" 14px;
  line-height: normal;
  cursor: pointer;
  padding: 8px 1.5rem;
}

.link:not(.focused):hover {
  background: rgba(189, 195, 199, 0.2);
  color: rgba(0, 0, 0, 0.8); 
}

.nav-item {
  display: flex;
  height: 46px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
