.nav-item.focused {
  border-radius: 10px;
  background: rgba(89, 50, 234, 0.8);
  font-family: "PT Sans";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  cursor: pointer;
}
.link.focused {
  color: #fff;
}
.nav-item.not-focused:hover {
  color: rgba(89, 50, 234, 0.8);
  background: rgba(89, 50, 234, 0.2);
  border-radius: 10px;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-family: "PT Sans";
  font-size: 14px;
  letter-spacing: -0.14px;
  cursor: pointer;
  width: 100%;
  gap: 5px;
  padding-left: 33%;
  color: black;
}

.nav-item {
  display: flex;
  width: 250px;
  height: 46px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
