.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #F4F4F4;
}
.sidebar {
  display: flex;
  padding: 10px 1.5rem;
  background: #fff;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #8e44ad;
  margin-right: 10px;
}
